[dotenv@17.2.3] injecting env (2) from .env.local -- tip: ­ƒöÉ prevent building .env in docker: https://dotenvx.com/prebuild
-- SCHEMA DO BANCO - DATA: 2026-01-24T18:49:18.545Z
CREATE TABLE SCHEMA_MIGRATIONS (
      NOME TEXT PRIMARY KEY,
      DATA_APLICACAO TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP
    );

CREATE TABLE CORE_TELA (
  ID_TELA INTEGER PRIMARY KEY,
  CODIGO_TELA TEXT NOT NULL UNIQUE,
  NOME_TELA TEXT NOT NULL,
  MODULO TEXT NOT NULL,
  CAMINHO_ROTA TEXT NOT NULL,
  ICONE TEXT,
  DESCRICAO_TELA TEXT,
  ATIVA INTEGER NOT NULL DEFAULT 1,
  DATA_CADASTRO TEXT NOT NULL DEFAULT (datetime('now')),
  DATA_ATUALIZACAO TEXT
);

CREATE TABLE "EMP_EMPRESA" (
  ID_EMPRESA INTEGER PRIMARY KEY,
  NOME_FANTASIA TEXT NOT NULL,
  RAZAO_SOCIAL TEXT NOT NULL,
  CNPJ TEXT NOT NULL UNIQUE,
  INSCRICAO_ESTADUAL TEXT,
  INSCRICAO_MUNICIPAL TEXT,
  REGIME_TRIBUTARIO TEXT,
  LOGOTIPO_URL TEXT,
  ATIVA INTEGER NOT NULL DEFAULT 1,
  DATA_CADASTRO TEXT NOT NULL DEFAULT (datetime('now')),
  DATA_ATUALIZACAO TEXT
);

CREATE TABLE CORE_AJUDA_TELA (
  ID_AJUDA INTEGER PRIMARY KEY,
  ID_TELA INTEGER NOT NULL,
  OBJETIVO_TELA TEXT,
  QUANDO_UTILIZAR TEXT,
  DESCRICAO_PROCESSO TEXT,
  PASSO_A_PASSO TEXT,
  CAMPOS_OBRIGATORIOS TEXT,
  CAMPOS_OPCIONAIS TEXT,
  REFLEXOS_PROCESSO TEXT,
  ERROS_COMUNS TEXT,
  ATIVA INTEGER NOT NULL DEFAULT 1,
  DATA_CADASTRO TEXT NOT NULL DEFAULT (datetime('now')),
  DATA_ATUALIZACAO TEXT,
  FOREIGN KEY (ID_TELA) REFERENCES CORE_TELA(ID_TELA)
);

CREATE TABLE EMP_DEPARTAMENTO (
  ID_DEPARTAMENTO INTEGER PRIMARY KEY AUTOINCREMENT,
  ID_EMPRESA INTEGER NOT NULL,
  NOME_DEPARTAMENTO TEXT NOT NULL,
  DESCRICAO TEXT,
  ATIVO INTEGER NOT NULL DEFAULT 1,
  DATA_CADASTRO TEXT NOT NULL DEFAULT (datetime('now')),
  DATA_ATUALIZACAO TEXT,
  FOREIGN KEY (ID_EMPRESA) REFERENCES EMP_EMPRESA (ID_EMPRESA)
);

CREATE TABLE SEG_PERFIL (
  ID_PERFIL TEXT PRIMARY KEY,
  ID_EMPRESA INTEGER NOT NULL,
  NOME_PERFIL TEXT NOT NULL,
  DESCRICAO TEXT,
  ATIVO INTEGER NOT NULL DEFAULT 1,
  CRIADO_EM TEXT NOT NULL DEFAULT (datetime('now')),
  ATUALIZADO_EM TEXT NOT NULL DEFAULT (datetime('now')),
  FOREIGN KEY (ID_EMPRESA) REFERENCES EMP_EMPRESA(ID_EMPRESA)
);

CREATE TABLE SEG_PERFIL_TELA (
  ID_PERFIL TEXT NOT NULL,
  ID_TELA INTEGER NOT NULL,
  PODE_ACESSAR INTEGER NOT NULL DEFAULT 1,
  CRIADO_EM TEXT NOT NULL DEFAULT (datetime('now')),
  ATUALIZADO_EM TEXT NOT NULL DEFAULT (datetime('now')), PODE_CONSULTAR INTEGER NOT NULL DEFAULT 0, PODE_EDITAR INTEGER NOT NULL DEFAULT 0,
  PRIMARY KEY (ID_PERFIL, ID_TELA),
  FOREIGN KEY (ID_PERFIL) REFERENCES SEG_PERFIL(ID_PERFIL),
  FOREIGN KEY (ID_TELA) REFERENCES CORE_TELA(ID_TELA)
);

CREATE TABLE RH_JORNADA_TRABALHO (
  ID_JORNADA TEXT PRIMARY KEY,
  ID_EMPRESA INTEGER NOT NULL,
  NOME_JORNADA TEXT NOT NULL,
  DESCRICAO TEXT,
  CARGA_SEMANAL_HORAS INTEGER NOT NULL,
  HORA_ENTRADA_MANHA TEXT,
  HORA_SAIDA_MANHA TEXT,
  HORA_ENTRADA_TARDE TEXT,
  HORA_SAIDA_TARDE TEXT,
  HORA_ENTRADA_INTERVALO TEXT,
  HORA_SAIDA_INTERVALO TEXT,
  ATIVO INTEGER NOT NULL DEFAULT 1,
  CRIADO_EM TEXT NOT NULL DEFAULT (datetime('now')),
  ATUALIZADO_EM TEXT NOT NULL DEFAULT (datetime('now')), TOLERANCIA_MINUTOS INTEGER NOT NULL DEFAULT 0,
  FOREIGN KEY (ID_EMPRESA) REFERENCES EMP_EMPRESA(ID_EMPRESA)
);

CREATE TABLE RH_FUNCIONARIO (
  ID_FUNCIONARIO TEXT PRIMARY KEY,
  ID_EMPRESA INTEGER NOT NULL,
  ID_DEPARTAMENTO INTEGER NOT NULL,
  ID_JORNADA TEXT,
  ID_PERFIL TEXT,
  CPF TEXT NOT NULL UNIQUE,
  NOME_COMPLETO TEXT NOT NULL,
  DATA_ADMISSAO TEXT NOT NULL,
  DATA_DEMISSAO TEXT,
  ATIVO INTEGER NOT NULL DEFAULT 1,
  OBSERVACOES TEXT,
  CRIADO_EM TEXT NOT NULL DEFAULT (datetime('now')),
  ATUALIZADO_EM TEXT NOT NULL DEFAULT (datetime('now')), SALARIO_BASE NUMERIC(15,2) DEFAULT 0 NOT NULL, TIPO_SALARIO TEXT DEFAULT 'MENSALISTA' NOT NULL, CARGA_HORARIA_MENSAL_REFERENCIA INTEGER DEFAULT 220 NOT NULL,
  FOREIGN KEY (ID_EMPRESA) REFERENCES EMP_EMPRESA(ID_EMPRESA),
  FOREIGN KEY (ID_DEPARTAMENTO) REFERENCES EMP_DEPARTAMENTO(ID_DEPARTAMENTO),
  FOREIGN KEY (ID_JORNADA) REFERENCES RH_JORNADA_TRABALHO(ID_JORNADA),
  FOREIGN KEY (ID_PERFIL) REFERENCES SEG_PERFIL(ID_PERFIL)
);

CREATE TABLE RH_PONTO_LANCAMENTO (
  ID_PONTO INTEGER PRIMARY KEY AUTOINCREMENT,
  ID_EMPRESA INTEGER NOT NULL REFERENCES EMP_EMPRESA(ID_EMPRESA) ON DELETE CASCADE,
  ID_FUNCIONARIO TEXT NOT NULL REFERENCES RH_FUNCIONARIO(ID_FUNCIONARIO) ON DELETE CASCADE,
  DATA_REFERENCIA DATE NOT NULL,
  ENTRADA_MANHA TEXT,
  SAIDA_MANHA TEXT,
  ENTRADA_TARDE TEXT,
  SAIDA_TARDE TEXT,
  ENTRADA_EXTRA TEXT,
  SAIDA_EXTRA TEXT,
  STATUS_DIA TEXT NOT NULL DEFAULT 'NORMAL',
  OBSERVACAO TEXT,
  USER_LANCAMENTO TEXT,
  DATA_LANCAMENTO DATETIME DEFAULT CURRENT_TIMESTAMP, TIPO_OCORRENCIA TEXT NOT NULL DEFAULT 'NORMAL', ID_MOTIVO_FALTA INTEGER NULL, OBS_FALTA TEXT NULL, E_FERIADO CHAR(1) NOT NULL DEFAULT 'N',
  UNIQUE (ID_EMPRESA, ID_FUNCIONARIO, DATA_REFERENCIA)
);

CREATE TABLE RH_FUNCIONARIO_SALARIO (
  ID_SALARIO INTEGER PRIMARY KEY AUTOINCREMENT,
  ID_FUNCIONARIO TEXT NOT NULL REFERENCES RH_FUNCIONARIO(ID_FUNCIONARIO),
  DATA_INICIO_VIGENCIA DATE NOT NULL,
  DATA_FIM_VIGENCIA DATE NULL,
  TIPO_SALARIO TEXT NOT NULL DEFAULT 'MENSAL',
  VALOR NUMERIC(12,2) NOT NULL,
  OBSERVACAO TEXT NULL,
  CREATED_AT TEXT NOT NULL DEFAULT (datetime('now')),
  UPDATED_AT TEXT NOT NULL DEFAULT (datetime('now'))
);

CREATE TABLE RH_FALTA_JUSTIFICATIVA_MOTIVO (
  ID_MOTIVO INTEGER PRIMARY KEY AUTOINCREMENT,
  DESCRICAO TEXT NOT NULL,
  ATIVO INTEGER NOT NULL DEFAULT 1,
  ORDEM_EXIBICAO INTEGER NOT NULL DEFAULT 0
);

CREATE TABLE RH_BANCO_HORAS_AJUSTE (
  ID_AJUSTE INTEGER PRIMARY KEY AUTOINCREMENT,
  ID_EMPRESA INTEGER NOT NULL REFERENCES EMP_EMPRESA(ID_EMPRESA) ON DELETE CASCADE,
  ID_FUNCIONARIO TEXT NOT NULL REFERENCES RH_FUNCIONARIO(ID_FUNCIONARIO) ON DELETE CASCADE,
  COMPETENCIA CHAR(7) NOT NULL,
  MINUTOS INTEGER NOT NULL,
  TIPO_AJUSTE CHAR(20) NOT NULL,
  OBSERVACAO VARCHAR(255),
  DATA_CRIACAO TEXT NOT NULL DEFAULT (datetime('now'))
);

CREATE TABLE RH_BANCO_HORAS_FECHAMENTO (
  ID_FECHAMENTO INTEGER PRIMARY KEY AUTOINCREMENT,
  ID_EMPRESA INTEGER NOT NULL REFERENCES EMP_EMPRESA(ID_EMPRESA) ON DELETE CASCADE,
  ID_FUNCIONARIO TEXT NOT NULL REFERENCES RH_FUNCIONARIO(ID_FUNCIONARIO) ON DELETE CASCADE,
  ANO INTEGER NOT NULL,
  MES INTEGER NOT NULL,
  COMPETENCIA CHAR(7) NOT NULL,
  SALDO_ANTERIOR_MINUTOS INTEGER NOT NULL DEFAULT 0,
  HORAS_EXTRAS_50_MINUTOS INTEGER NOT NULL DEFAULT 0,
  HORAS_EXTRAS_100_MINUTOS INTEGER NOT NULL DEFAULT 0,
  HORAS_DEVIDAS_MINUTOS INTEGER NOT NULL DEFAULT 0,
  AJUSTES_MINUTOS INTEGER NOT NULL DEFAULT 0,
  SALDO_FINAL_MINUTOS INTEGER NOT NULL DEFAULT 0,
  POLITICA_FALTAS CHAR(20) NOT NULL,
  ZEROU_BANCO CHAR(1) NOT NULL DEFAULT 'N',
  VALOR_PAGAR DECIMAL(10,2),
  VALOR_DESCONTAR DECIMAL(10,2),
  DATA_FECHAMENTO TEXT NOT NULL DEFAULT (datetime('now')),
  USUARIO_FECHAMENTO TEXT, DATA_LIBERACAO_EDICAO TEXT, ID_USUARIO_MASTER_LIBERACAO TEXT, MOTIVO_LIBERACAO TEXT,
  CONSTRAINT UQ_RH_BANCO_HORAS_FECHAMENTO UNIQUE (ID_EMPRESA, ID_FUNCIONARIO, ANO, MES)
);

CREATE TABLE RH_BANCO_HORAS_PERIODO (
  ID INTEGER PRIMARY KEY AUTOINCREMENT,
  ID_EMPRESA INTEGER NOT NULL REFERENCES EMP_EMPRESA(ID_EMPRESA) ON DELETE CASCADE,
  ID_FUNCIONARIO TEXT NOT NULL REFERENCES RH_FUNCIONARIO(ID_FUNCIONARIO) ON DELETE CASCADE,
  ANO_REFERENCIA INTEGER NOT NULL,
  MES_REFERENCIA INTEGER NOT NULL,
  SITUACAO_PERIODO VARCHAR(20) NOT NULL DEFAULT 'NAO_INICIADO',
  DATA_ULTIMA_ATUALIZACAO TEXT NOT NULL DEFAULT (datetime('now')),
  ID_USUARIO_ULTIMA_ATUALIZACAO TEXT,
  CREATED_AT TEXT NOT NULL DEFAULT (datetime('now')),
  UPDATED_AT TEXT NOT NULL DEFAULT (datetime('now')),
  CONSTRAINT UQ_RH_BANCO_HORAS_PERIODO UNIQUE (ID_EMPRESA, ID_FUNCIONARIO, ANO_REFERENCIA, MES_REFERENCIA)
);

CREATE TABLE FIN_PLANO_CONTA (
  FIN_PLANO_CONTA_ID INTEGER PRIMARY KEY,
  FIN_PLANO_CONTA_PAI_ID INTEGER NULL,
  FIN_PLANO_CONTA_NATUREZA TEXT NOT NULL CHECK (FIN_PLANO_CONTA_NATUREZA IN ('RECEITA', 'DESPESA')),
  FIN_PLANO_CONTA_NOME TEXT NOT NULL,
  FIN_PLANO_CONTA_CODIGO TEXT NOT NULL UNIQUE,
  FIN_PLANO_CONTA_ATIVO INTEGER NOT NULL DEFAULT 1,
  FIN_PLANO_CONTA_ORDEM INTEGER NOT NULL DEFAULT 0,
  FIN_PLANO_CONTA_VISIVEL_DRE INTEGER NOT NULL DEFAULT 1,
  FIN_PLANO_CONTA_OBRIGA_CENTRO_CUSTO INTEGER NOT NULL DEFAULT 0, EMPRESA_ID INTEGER REFERENCES EMP_EMPRESA(ID_EMPRESA),
  FOREIGN KEY (FIN_PLANO_CONTA_PAI_ID) REFERENCES FIN_PLANO_CONTA(FIN_PLANO_CONTA_ID)
);

CREATE TABLE FIN_CENTRO_CUSTO (
  FIN_CENTRO_CUSTO_ID INTEGER PRIMARY KEY,
  FIN_CENTRO_CUSTO_PAI_ID INTEGER NULL,
  FIN_CENTRO_CUSTO_NOME TEXT NOT NULL,
  FIN_CENTRO_CUSTO_CODIGO TEXT NOT NULL UNIQUE,
  FIN_CENTRO_CUSTO_ATIVO INTEGER NOT NULL DEFAULT 1,
  FIN_CENTRO_CUSTO_ORDEM INTEGER NOT NULL DEFAULT 0, EMPRESA_ID INTEGER REFERENCES EMP_EMPRESA(ID_EMPRESA),
  FOREIGN KEY (FIN_CENTRO_CUSTO_PAI_ID) REFERENCES FIN_CENTRO_CUSTO(FIN_CENTRO_CUSTO_ID)
);

CREATE TABLE FIN_ESTRUTURA_DRE (
  FIN_ESTRUTURA_DRE_ID INTEGER PRIMARY KEY,
  FIN_ESTRUTURA_DRE_PAI_ID INTEGER NULL,
  FIN_ESTRUTURA_DRE_NOME TEXT NOT NULL,
  FIN_ESTRUTURA_DRE_ORDEM INTEGER NOT NULL DEFAULT 0,
  FIN_ESTRUTURA_DRE_NATUREZA TEXT NOT NULL CHECK (FIN_ESTRUTURA_DRE_NATUREZA IN ('RECEITA', 'DESPESA', 'CALCULADO')),
  FIN_ESTRUTURA_DRE_TIPO_GASTO TEXT NOT NULL DEFAULT 'NAO_APLICA' CHECK (FIN_ESTRUTURA_DRE_TIPO_GASTO IN ('FIXO', 'VARIAVEL', 'NAO_APLICA')),
  FIN_ESTRUTURA_DRE_ATIVO INTEGER NOT NULL DEFAULT 1, EMPRESA_ID INTEGER REFERENCES EMP_EMPRESA(ID_EMPRESA),
  FOREIGN KEY (FIN_ESTRUTURA_DRE_PAI_ID) REFERENCES FIN_ESTRUTURA_DRE(FIN_ESTRUTURA_DRE_ID)
);

CREATE TABLE FIN_ESTRUTURA_DRE_CONTA (
  FIN_ESTRUTURA_DRE_CONTA_ID INTEGER PRIMARY KEY,
  FIN_ESTRUTURA_DRE_ID INTEGER NOT NULL,
  FIN_PLANO_CONTA_ID INTEGER NOT NULL,
  FIN_ESTRUTURA_DRE_CONTA_ATIVO INTEGER NOT NULL DEFAULT 1, EMPRESA_ID INTEGER REFERENCES EMP_EMPRESA(ID_EMPRESA),
  FOREIGN KEY (FIN_ESTRUTURA_DRE_ID) REFERENCES FIN_ESTRUTURA_DRE(FIN_ESTRUTURA_DRE_ID),
  FOREIGN KEY (FIN_PLANO_CONTA_ID) REFERENCES FIN_PLANO_CONTA(FIN_PLANO_CONTA_ID)
);

CREATE TABLE FIN_LANCAMENTO (
  FIN_LANCAMENTO_ID INTEGER PRIMARY KEY,
  FIN_LANCAMENTO_DATA TEXT NOT NULL,
  FIN_LANCAMENTO_HISTORICO TEXT,
  FIN_LANCAMENTO_VALOR REAL NOT NULL DEFAULT 0,
  FIN_PLANO_CONTA_ID INTEGER NOT NULL,
  FIN_CENTRO_CUSTO_ID INTEGER NULL,
  FIN_LANCAMENTO_DOCUMENTO TEXT,
  FIN_LANCAMENTO_CRIADO_EM TEXT NOT NULL DEFAULT (datetime('now')),
  FIN_LANCAMENTO_ATUALIZADO_EM TEXT, EMPRESA_ID INTEGER REFERENCES EMP_EMPRESA(ID_EMPRESA),
  FOREIGN KEY (FIN_PLANO_CONTA_ID) REFERENCES FIN_PLANO_CONTA(FIN_PLANO_CONTA_ID),
  FOREIGN KEY (FIN_CENTRO_CUSTO_ID) REFERENCES FIN_CENTRO_CUSTO(FIN_CENTRO_CUSTO_ID)
);

CREATE TABLE FIN_OBJETIVO (
  FIN_OBJETIVO_ID INTEGER PRIMARY KEY,
  FIN_OBJETIVO_TITULO TEXT NOT NULL,
  FIN_OBJETIVO_PERIODO TEXT NOT NULL CHECK (FIN_OBJETIVO_PERIODO IN ('Mensal', 'Trimestral', 'Anual')),
  FIN_OBJETIVO_META REAL NOT NULL DEFAULT 0,
  FIN_OBJETIVO_RESPONSAVEL TEXT,
  FIN_OBJETIVO_STATUS TEXT NOT NULL DEFAULT 'ativo' CHECK (FIN_OBJETIVO_STATUS IN ('ativo', 'inativo')),
  FIN_OBJETIVO_OBSERVACAO TEXT,
  FIN_OBJETIVO_CRIADO_EM TEXT NOT NULL DEFAULT (datetime('now')),
  FIN_OBJETIVO_ATUALIZADO_EM TEXT,
  ID_EMPRESA INTEGER NOT NULL REFERENCES EMP_EMPRESA(ID_EMPRESA)
);

CREATE TABLE FIN_OBJETIVO_SEMANAL (
  FIN_OBJETIVO_SEMANAL_ID INTEGER PRIMARY KEY,
  FIN_OBJETIVO_ID INTEGER NOT NULL REFERENCES FIN_OBJETIVO(FIN_OBJETIVO_ID),
  FIN_OBJETIVO_SEMANA TEXT NOT NULL,
  FIN_OBJETIVO_META_SEMANAL REAL NOT NULL DEFAULT 0,
  FIN_OBJETIVO_RESPONSAVEL TEXT,
  FIN_OBJETIVO_STATUS TEXT NOT NULL DEFAULT 'pendente' CHECK (FIN_OBJETIVO_STATUS IN ('pendente', 'andamento', 'concluido')),
  FIN_OBJETIVO_OBSERVACAO TEXT,
  FIN_OBJETIVO_SEMANAL_CRIADO_EM TEXT NOT NULL DEFAULT (datetime('now')),
  FIN_OBJETIVO_SEMANAL_ATUALIZADO_EM TEXT,
  ID_EMPRESA INTEGER NOT NULL REFERENCES EMP_EMPRESA(ID_EMPRESA)
);

